<div name="column_container"... class = "ui container" id="column_container'+(column_count)+'">
<div class="ui labeled input">
<div class="ui label">Column'+ (column_count) +'</div>
<input class="ui labeled input" placeholder="Column Name" type="text">
</div><label class="ui label">Type :</label>
<select name="type" id="type-select'+(column_count++)+'" class="ui selection dropdown">
<option value="num">Number</option><option value="string">String</option>)
</select>
</div>'


<input class="ui labeled input" placeholder="Column Name" type="text"><label class="ui label">Type :</label><select name="type" id="type-select'+(column_count++)+'" class="ui selection dropdown"><option value="num">Number</option><option value="string">String</option>)</select>
