$columnContainer.append(<input type = "text" name = "numberofcol">
<div class="ui labeled input">
   <div class="ui label">
     Column (++column_count)
   </div>
   <input placeholder="Column Name" type="text">
 </div>
<label class="ui label">Type :</label>
<select name="type" id="type-select" class="ui selection dropdown">
   <option value="num">Number</option>
   <option value="string">String</option>
</select>)
