<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/Semantic-UI-CSS-master/semantic.css">
<link rel= "stylesheet" type= "text/css" href= "/static/styles/logout_icon.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/static/Semantic-UI-CSS-master/semantic.js"></script>
</head>
<body>
    <div class="ui blue form segment">
	<span>
	  <div class="ui inline dropdown" id="menudd">
		<div>
		  <i class="sidebar icon"></i>KATRED
		</div>
		<div class="menu">
		  <div class="item">
			<a href="{{ url_for('viewmain') }}"><div class="item">Home</div></a>
		  </div>
		  <div class="item">
			<a href="{{ url_for('histogram_page') }}"><div class="item">Histogram</div></a> 
		  </div>
		  <div class="item">
			<a href="{{ url_for('kmeans_page') }}"><div class="item">Kmeans</div></a> 
		  </div>
		  <div class="item">
			<a href="{{ url_for('upload') }}"><div class="item">Upload a File</div></a>
		  </div>
		  <div class="item">
			<a href="{{ url_for('edit') }}"><div class="item">Edit Dataset Config</div></a>
		  </div>
		  <div class="item">
			<a href="{{ url_for('viewhelp') }}"><div class="item">Help</div></a>
		  </div>
		</div>
	  </div>
	  <div id="logout_pos" class="ui primary button"><a href = "{{url_for('logout')}}" style="color:white">Log-out<i class="sign out icon"></i></a>
      </div>
	  <br> &nbsp
	</span>
    </div>

	<div class ="ui container">
      <form id = "form" class="ui form" method = "POST" enctype = "multipart/form-data" action = "/edit_file">
         <div class="field">
           <h4 class="ui dividing header">File Upload</h4>
           <div class = "two fields">
             <div class = "field">
               <label>Choose File to Edit</label> 
				<input id = "orig" type="hidden" name = "orig"></input>
				<select class="ui search dropdown" name="filename" style = "width:100%" id="searchfile" onChange="loaddataset();">
				<script>
					function loaddataset(){
						var title = document.getElementById('searchfile').value;
						document.getElementById('orig').value = title;
						var conv = {{ dataset_dict|tojson }};
						var data = JSON.parse(conv);
						
						var conv = {{ columns_dict|tojson }};
						var cols = JSON.parse(conv);
						
						document.getElementById('editfname').value = title;
						document.getElementById('editfdescription').value = data[title][0];
						
						var iter;
						// remove all options
						for (iter = row_counter; iter > 0 ; iter--){
							if (row_counter > 1){
								document.getElementById("col"+row_counter).remove();
								document.getElementById("col-type"+row_counter).remove();
								document.getElementById("lbl"+row_counter).remove();
								row_counter--;
							}
						}
						document.getElementById("rowCounter").value = row_counter;

						// add columns for the options
						for (iter = 0; iter < cols[title].length; iter++){
							row_counter++;
							document.getElementById("rowCounter").value = row_counter;
							if (cols[title][iter]['columntype'] == "String"){
								var selected = '<option value="num">Number</option><option value="string" selected>String</option>';
							}
							else{
								var selected = '<option value="num" selected>Number</option><option value="string">String</option>';
							}
							var hid = cols[title][iter]['id'];
							var hidden = '<input id = "hid'+(row_counter)+'" type="hidden" value='+(hid)+' name = "hid'+(row_counter)+'"></input>'
							$mainColumnContainer.append('<input id="col'+(row_counter)+'" name="col'+(row_counter)+'" class="input" type="text" value = '+cols[title][iter]['columnname']+'><label class="ui label" id="lbl'+(row_counter)+'">Type :</label><select name="col-type'+(row_counter)+'" id="col-type'+(row_counter)+'" class="ui selection dropdown">'+selected+'</select>'+hidden)
						}
				}
				</script>
				<option value=""> Select file</option>
					{% for dataset in datasets %}
						<option value = "{{dataset.title}}">{{dataset.title}}</option>
					{% endfor %}
				</select>
             </div>
             <div class = "field">
               <label>Save as:</label><input type = "text" name = "editfname" id = "editfname" title="Alphanumeric only" pattern="[a-zA-Z0-9]+" required></input>
             </div>
           </div>
         </div>

         <div class="field">
           <h4 class="ui dividing header">Description</h4>
           <textarea form = "form" name="editfdescription" id = "editfdescription"></textarea>
         </div>
         <div class="field">
             <div class="ui form">
               <h4 class="ui dividing header">Configuration for Dataset</h4>
               <div class="field">
                 <div class = "ui container">
                 <label class="ui label">Columns</label>
                 <button data-tooltip="Click to add a new column" id="addColumnButton" class="ui icon button" type="button"><i class ="add square icon"></i></button>
                 <button data-tooltip="Click to remove the last column" class="ui icon button" type="button"><i class="minus square icon"></i></button>
                 </div>
                 <div class = "ui container" id="main_column_container">
                  <!-- <input id="col1" name="col1" class="input" placeholder="Column Name" type="text">
                   <label class="ui label">Type :</label>
                   <select name="col-type1" id="col-type1" class="ui selection dropdown">
                     <option value="num">Number</option>
                     <option value="string">String</option>
                   </select>-->
                 </div>
               </div>
              </div>
          </div>
          <br>
          <br>
          <br>
          <button id="uploadDbButton" class="ui primary button">Save Edits</button>
          <input type="hidden" id="rowCounter" name="rowCounter" value=0>
          <script>
                 var $mainColumnContainer=$("#main_column_container");
                 var column_count=1;
                 var row_counter= document.getElementById('rowCounter').value;

                 $('#type-select').dropdown();
				 $('#menudd').dropdown();
                 $('#addColumnButton').on("click",function(){
                     row_counter++;
                     document.getElementById("rowCounter").value = row_counter;
                     $mainColumnContainer.append('<input id="col'+(row_counter)+'" name="col'+(row_counter)+'" class="input" placeholder="Column Name" type="text"><label class="ui label">Type :</label><select name="col-type'+(row_counter)+'" id="col-type'+(row_counter)+'" class="ui selection dropdown"><option value="Number">Number</option><option value="String">String</option>)</select>')
                   });
          </script>



    </form>
</div>

</body>
</html>
