<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/Semantic-UI-CSS-master/semantic.css">
<link rel= "stylesheet" type= "text/css" href= "/static/styles/logout_icon.css">
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/static/Semantic-UI-CSS-master/semantic.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
</head>
<body>
    <div class="ui blue form segment">
	<span>
	  <div class="ui inline dropdown" id="menudd">
		<div>
			<i class="sidebar icon"></i><strong>MENU</strong>
		</div>
		<div class="menu">
		  <div class="item">
			<a href="{{ url_for('viewmain') }}"><div class="item">Count/Sum/Average</div></a>
		  </div>
		  <div class="item">
			<a href="{{ url_for('histogram_page') }}"><div class="item">Histogram</div></a> 
		  </div>
		  <div class="item">
			<a href="{{ url_for('kmeans_page') }}"><div class="item">Kmeans</div></a> 
		  </div>
		  <div class="item">
			<a href="{{ url_for('upload') }}"><div class="item">Upload a Dataset</div></a>
		  </div>
		   <div class="item">
			<a href="{{ url_for('viewhelp') }}"><div class="item">Help</div></a>
		  </div>
		</div>
	  </div>
	  <div id="logout_pos" class="ui primary button"><a href = "{{url_for('logout')}}" style="color:white">Log-out<i class="sign out icon"></i></a>
      </div>
	  <br> &nbsp
	</span>
    </div>
	
	<div class ="ui container">
		<div class="ui piled segment" style="margin: 30px;">
			<h4 class="ui header">INTRODUCTION</h4>
			<div style="margin-left:40px;margin-right:40px;text-align:justify;">

				Imagine that you have diabetes. Your hospital record would indicate that you have diabetes. Of course, we wouldn't want the fact that we have diabetes be publicized. However, it is good to check the demographics of people with diabetes, for medicinal purposes. A surveyor comes to the hospital, and asks for the records of patients with diabetes. You are then asked by your doctor if it is okay to give your details to the surveyor. Would you agree? What if they want to publicize their dataset, would you agree, knowing that people who know you can search for you in that dataset?

				<br><br>Of course, you would be concerned with your privacy. You probably wouldnt want the world to know that you have diabetes.

				<br><br>Let us first take a look in the technical details of your situation. Firstly, your records would be kept in a <strong>database</strong>. A <strong>database</strong> is where your records are compiled for easy access. Your specific details would be stored in a row. Take a look at the example below:

				<br><br>
				<table style="width:100%">
				<tr>
					<th>Name</th>
					<th>Age</th>
					<th>Sex(M/F)</th>
					<th>Has_Diabetes?(Y,N)</th>
				</tr>
				<tr>
					<td>Juan Dela Cruz</td>
					<td>25</td>
					<td>M</td>
					<td>Y</td>
				</tr>
				<tr>
					<td><strong>You</strong></td>
					<td><strong>19</strong></td>
					<td><strong>F</strong></td>
					<td><strong>Y</strong></td>
				</tr>
				<tr>
					<td>Juanna Dela Cruz</td>
					<td>25</td>
					<td>F</td>
					<td>N</td>
				</tr>
				</table>
				<br>A database has columns which specify what traits are to be stored. In this example, your specific row is the one bolded, the second row. There you can see your name, age, sex, and whether or not you have diabetes.

				<br><br>In order to access data from the database, we <strong>query</strong> from the database. A query is essentially the conditions that you want the specific row to possess. Example, we want to know if Juan Dela Cruz has diabetes. In order to do this, we will <strong>query the database</strong> for rows with "Juan Dela Cruz" in the name column. Usually, the query looks like: <strong>QUERY ROW where Name=="Juan Dela Cruz"</strong>. The result of the query would be:


			<br><br>
				<table style="width:100%">
				<tr>
					<th>Name</th>
					<th>Age</th>
					<th>Sex(M/F)</th>
					<th>Has_Diabetes?(Y,N)</th>
				</tr>
				<tr>
					<td>Juan Dela Cruz</td>
					<td>25</td>
					<td>M</td>
					<td>Y</td>
				</tr>
				</table>

				<br>As you can see, the query gave Juan Dela Cruz's row, which has his details. We can see that he has diabetes since the Has_Diabetes? column has "Y" for yes.

				<br><br>Alternatively, we may want to know which patients has diabetes. In order to do this, we will query the database for rows with "Y" in the Has_Diabetes? Column. The query would look like: <strong>QUERY ROW where Has_Diabetes?=="Y"</strong>. The query would then return:

			<br><br>
				<table style="width:100%">
				<tr>
					<th>Name</th>
					<th>Age</th>
					<th>Sex(M/F)</th>
					<th>Has_Diabetes?(Y,N)</th>
				</tr>
				<tr>
					<td>Juan Dela Cruz</td>
					<td>25</td>
					<td>M</td>
					<td>Y</td>
				</tr>
				<tr>
					<td><strong>You</strong></td>
					<td><strong>19</strong></td>
					<td><strong>F</strong></td>
					<td><strong>Y</strong></td>
				</tr>
				</table>

				<br>We see that there are two patients who have diabetes, you and Juan Dela Cruz. 

				<br><br>For surveying purposes, most databases has aggregate values, which allow users to take a measure of the population itself. Most databases have <strong>count, average, and sum</strong>. A <strong> count query </strong> counts the number of rows satisfying the given conditions. In the example above, QUERY COUNT where Has_Diabetes=="Y" would return 2, since there are 2 patients with diabetes. Both average and sum are the same with its mathematical definition.
				<br>	
			</div>
		</div><br>
		<div class="ui piled segment" style="margin: 30px;">
			<h4 class="ui header">DIFFERENTIAL PRIVACY</h4>
			<div style="margin-left:40px;margin-right:40px;text-align:justify;">
				<br><br>You can see that with the set-up of normal databases, it is very easy to see who has diabetes. The solution to this is <strong>differential privacy</strong>.
				<br><br><strong>Differential privacy</strong> is essentially learning something from a population while learning nothing from an individual. It protects the privacy of each individual row, while allowing surveyors to draw conclusions from the entirety of the database. In the database above, it guarantees that you can see how many has diabetes, but not who. It does this through the careful addition of noise. As an example:

				<br><br>
					<table style="width:100%">
					<tr>
						<th>Name</th>
						<th>Age</th>
						<th>Sex(M/F)</th>
						<th>Has_Diabetes?(Y,N)</th>
					</tr>
					<tr>
						<td>Juan Dela Cruz</td>
						<td>25</td>
						<td>M</td>
						<td>Y</td>
					</tr>
					<tr>
						<td><strong>You</strong></td>
						<td><strong>19</strong></td>
						<td><strong>F</strong></td>
						<td><strong>Y</strong></td>
					</tr>
					<tr>
						<td>Juanna Dela Cruz</td>
						<td>25</td>
						<td>F</td>
						<td>N</td>
					</tr>
					</table>

					<br>This is the same database as earlier, however let us assume that this is differentially private. Differential privacy limits queries to the aggregate values, namely count, sum, and average. However, we can still try to check if Juan Dela Cruz is in the database, with the query:

				<br><br><strong>QUERY COUNT where Name=="Juan Dela Cruz"</strong>

					<br><br>The query might return something like "0.91231841". As you can see, this value is garbage, because we are expecting the whole number “1” if Juan dela Cruz is in the database and “0” if he isn’t. Suppose that Juan Dela Cruz is not in the database, and we do the same query: 

				<br><br><strong>QUERY COUNT where Name=="Juan Dela Cruz"</strong>

					<br><br>The query might return something like "0.18263218", which is also garbage. However, that’s the point! You, the querier, have no idea whether Juan Dela Cruz is in the database. If you don’t even know if Juan Dela Cruz is in the database, then how can you possibly know if he has diabetes? This is the essence of differential privacy.

					<br><br>You might think then that the database is useless if it outputs garbage. This is not the case. When querying the database as a whole, the results are accurate enough to draw a conclusion from the database. As an example, in a database where there are 100 patients with diabetes, when we query:

				<br><br><strong>QUERY COUNT where Has_Diabetes=="Y"</strong>

					<br><br>The query might return something like "101.48216572", which is close enough to the actual value of 100.

					<br><br>Our thesis makes use of an implementation of differential privacy called Fuzz, developed by researchers from the University of Pennsylvania. In this implementation, 2 extra parameters are needed for each query: sensitivity and steps. 

					<br><br>Sensitivity refers to how much the result of a query would change, given the absence of any row. For example, the sensitivity of count queries and histogram queries is 1, since the presence or absence of any row only affects the result by 1. For sum queries, the sensitivity is usually the mean of the database. 

				<br><br>Fuzz is command-line based, and requires knowledge of Caml-rt, the language it uses, which can make it a bit inaccessible to the general population. The goal of our thesis is to create an online repository that implements differential privacy with an intuitive, and easy-to-use user interface where any user with a little bit of knowledge in databases (what you read should be enough) can use. 

				<br><br><strong>To start, head to the menu to at the topmost left corner of the screen.</strong>
			</div>
		</div><br>
		<div class="ui piled segment" style="margin: 30px;">
			<h4 class="ui header">UPLOADING A DATASET</h4>
			<div style="margin-left:40px;margin-right:40px;text-align:justify;">
				 This application takes in a .csv file as its database. To upload a database, head to menu at the topmost left corner of the screen, and select "Upload a Dataset".<br><br>
				 
				 From there, you will see 4 fields: Choose file, Save as, Dataset Column Description, Configuration for dataset.<br><br>

				For the Choose file field, simply select the .csv file you want to upload. The Save as field is what the dataset's name would be. Choose a name that is short but descriptive of what the data set is.<br><br>
				
				For the Dataset Column Description, this refers to the column names of the dataset, its type, if it's number or string, and if applicable, the possible choices for the column. The possible choices for the column should be separated by a comma only, e.g. Male,Female. This section is to be viewed by the user. Here is a sample format:<br><br>
				Age:number<br>
				Sex:M,F<br>
				ShirtColor:B,W<br>
				HasPhone:Y,N<br>
				Income:number<br>
				Zipcode:number<br><br>
				
				For the Configuration for dataset, this refers to the column names of the dataset to be stored in the database. It's the same as above, except you input each column one per row. 
			</div>
		</div><br>
		
		<div class="ui piled segment" style="margin: 30px;">
			<h4 class="ui header">QUERYING</h4>
			<div style="margin-left:40px;margin-right:40px;text-align:justify;">
				At the topmost left corner of the screen, there is a menu which has Count/Sum/Average, Histogram, and K-means. Refer below to what each of this query is.<br><br>
				
				To query, select a file in the <strong>Select file</strong> field. Fill up the <strong>Sensitivity</strong> and <strong># of Steps</strong> fields. Refer below to what each of these fields mean<br><br>
				
				<div class="ui piled segment" style="margin: 30px;">
					<h4 class="ui header">COUNT/SUM/AVERAGE</h4>
					<div style="margin-left:40px;margin-right:40px;text-align:justify;">
										
						As for the query itself, choose a column, operation, and argument. Essentially, any rows that satisfy this condition will be included in the aggregate result. For example, choosing <strong>Age > 15</strong> will select all rows that has an Age bigger than 15<br><br>
						
						Lastly, select which query you want to perform. You can view the graphs for the query with the <strong>Graph Count</strong>, <strong>Graph Sum</strong> and <strong>Graph Average</strong>
					</div>
				</div><br>
				
				<div class="ui piled segment" style="margin: 30px;">
					<h4 class="ui header">HISTOGRAM</h4>
					<div style="margin-left:40px;margin-right:40px;text-align:justify;">
						The <strong>upper bound</strong> refers to the highest number that the histogram would generate. The <strong>lower bound</strong> refers to the lowest number that the histogram would generate. <strong>Interval</strong> refers to how large each interval would be for the histogram.<br><br>
			
						For example, a query with upper bound of 100, lower bound of 0, and intervals of 20 on the Age column would count all Ages between 0 and 100, then it would group all ages according to the intervals set. This means that the query would aggregate all ages from 0-19, 20-40, 40-60, 60-80, 80-100.<br><br>
					</div>
				</div><br>
				
				<div class="ui piled segment" style="margin: 30px;">
					<h4 class="ui header">KMEANS</h4>
					<div style="margin-left:40px;margin-right:40px;text-align:justify;">
						The <strong>points</strong> you will give refers to the starting points where the query will search for the cluster centers.
					</div>
				</div><br>
			</div>
		</div><br>
		
		<div class="ui piled segment" style="margin: 30px;">
			<h4 class="ui header">DEFINITIONS</h4>
			<div style="margin-left:40px;margin-right:40px;text-align:justify;">
				 A <strong>count query</strong> is a query where the number of rows satisfying a given condition/s is the result. Multiple conditions are assumed to be AND i.e. Age == 20 AND Sex == M.
				<br><br>
				 An <strong>average query</strong> is a query where the average of a given column satisfying a given condition/s is the result. The first condition is always the column to be averaged, and thus needs to be a number.
				<br><br>
				 A <strong>sum query</strong> is a query where the sum of a given column satisfying a given condition/s is the result. The first condition is always the column to be summed, and thus needs to be a number.
				<br><br>
				 A <strong>histogram query</strong> is a query where the histogram of a given column given the interval is the result. The column needs to be a number. A histogram is a graphical representation of the distribution of numerical data. 
				<br><br>
				 A <strong>kmeans query</strong> is a query that performs k-means clustering. K-means clustering is essentially classifying a given data according to a defined center point. In this application, k-means query takes 2 numerical columns which acts as the X and Y of a point. For example, if you choose Age and Income for the kmeans query, then the points will be (x,y), where x is for the values in the Age column and y is for the values in the Income column.
				<br><br>
				 <strong>Sensitivity</strong> refers to how much the answer would change given the absence of that row. For example, performing a counting queries have a sensitivity of 1, since if the row does not satisfy the conditions, then the final output would be subtracted by 1. It is important to know the sensitivity of queries to ensure accuracy. If for example something doesn't feel right (i.e. income average being around 100 despite knowing that the range of income is from 20000 to 70000), then the sensitivity has something to do with it.
				<br><br>
				 <strong>Number of steps</strong> refers to how accurate the final output would be, according to the Laplacian Distribution. Typical values are 40 -50.
				<br><br>
			</div>
		</div><br><br>
	</div>
	<script>
		$('#menudd').dropdown();
	</script>
</body>
</html>
