<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/Semantic-UI-CSS-master/semantic.css">
<link rel= "stylesheet" type= "text/css" href= "/static/styles/logout_icon.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/static/Semantic-UI-CSS-master/semantic.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<style>
/* Error and Success Message */

.alert {
	padding: 20px;
	background-color: #f44336;
	color: white;
}
.success {
	padding: 20px;
	background-color: #00cc66;
	color: white;
}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}
</style>

</head>

   <body onload="checkSuccess()">
    <div class="ui blue form segment">
	<span>
	  <div class="ui inline dropdown" id="menudd">
		<div>
			<i class="sidebar icon"></i><strong>MENU</strong>
		</div>
		<div class="menu">
		  <div class="item">
			<a href="{{ url_for('viewmain') }}"><div class="item">Count/Sum/Average</div></a>
		  </div>
		  <div class="item">
			<a href="{{ url_for('histogram_page') }}"><div class="item">Histogram</div></a> 
		  </div>
		  <div class="item">
			<a href="{{ url_for('kmeans_page') }}"><div class="item">Kmeans</div></a> 
		  </div>
		  <div class="item">
			<a href="{{ url_for('upload') }}"><div class="item">Upload a Dataset</div></a>
		  </div>
		  <div class="item">
			<a href="{{ url_for('viewhelp') }}"><div class="item">Help</div></a>
		  </div>
		</div>
	  </div>
	  <div id="logout_pos" class="ui primary button"><a href = "{{url_for('logout')}}" style="color:white">Log-out<i class="sign out icon"></i></a>
      </div>
	  <br> &nbsp
	</span>
    </div>


	<div class ="ui container">
	<form action = "/makehistogram" method = "POST" enctype = "multipart/form-data" id="myform">
		<div class="ui stackable two column grid container">
			<div class="ui left aligned grid">
				<div class="left floated left aligned column">
					<div class="ui vertical menu" style="width: 100%;">
						<a class = "item" style="width: 100%;">
							<h4 data-tooltip="Select database to use" class="ui header">Select File</h4>
							<select class="ui search dropdown" name="filename" style = "width:100%" id="searchdd" onChange="columnchange();">
								<option value=""> Select file</option>
								{% for dataset in datasets %}
									{% if dataset.title=="ASampleDataset"%}
										<option value = "{{dataset.title}}" selected>{{dataset.title}}</option>
									{% else %}
										<option value = "{{dataset.title}}">{{dataset.title}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</a>
					  <a class="item" style="width: 100%;">
						<h4 class="ui header" data-tooltip="How much query would change if 1 row is absent">Sensitivity:</h4>
						<input type = "number" name = "sensitivity" min="0" value="1" required>
					  </a>
					  <a class="item" style="width: 100%;">
						<h4 class="ui header" data-tooltip="Accuracy of query. Recommended value is 40-50"># of steps:</h4>
						<input type = "number" name = "numberofsteps" min="0"  value="45" required>
					  </a>
					</div>
				</div>
			</div>
			<div class="ui left aligned grid">
				<div class="center aligned column">
					{% if status=='error' %}
					<div class="alert">
						<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				<strong>Error!</strong> Unsuccessful query due to timeouts.<br>Please try again!<br><br> Fuzz does its queries by treating each row in the database as a smaller query.<br> The processor forces each query to finish at the same time. <br> However, whenever a query fails to finish in time, this error occurs. <br> We recommend trying the query again.<br>
							</div><br> &nbsp
					{% elif status=='numError' %}
					<div class="alert">
						<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				<strong>Error!</strong> Query only accepts numerical columns!<br> Histogram must be made with a numerical column <br>
							</div><br> &nbsp
					{% elif status=='boundError' %}
					<div class="alert">
						<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				<strong>Error!</strong> Bound Error<br> Upper bound must be greater than lower bound <br>
							</div><br> &nbsp
					{% elif status=='intervalError' %}
					<div class="alert">
						<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				<strong>Error!</strong> Interval Error!<br> Interval must be greater than 0 and less than Upperbound - Lowerbound<br>
							</div><br> &nbsp
					{% endif %}
					{% if status=='success' %}
					<div class="success" id = "successfulQuery">
						<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
						<strong>Success!</strong> Successful query!
					</div><br> &nbsp
					{% endif %}

					<div class="ui form">
					  <div class="four fields">
						<div class="five wide field" id="column_container">
						  <label data-tooltip="Select the column you want to query on.">Choose Column</label>
						  <select name="column1" id="col1" style="margin-bottom: 10px;" required>
							<option value="" disabled selected> Select Column </option>
						  </select>
						</div>
						<div class="four wide field">
						  <label>Upper bound</label>
							<input type = "number" name = "ubound" min="0"  required>
						</div>
						<div class="four wide field">
							<label>Lower bound</label>
							<input type = "number" name = "lbound" min="0"  required>
						</div>
						<div class="four wide field">
						  <label data-tooltip="How big the intervals of the histogram">Interval length</label>
						<input type = "number" name = "interval" min="0"  required>
						</div>
					  </div>
					</div>
					<br>
					<button type="submit" name="submit_query" value="Hist" class="ui primary button" id="queryHistButton">Query Histogram</button>
					<!--<button type="button" id="addHistogramGraph" class="ui primary button" name="makehistogram">Generate Graph</button>-->
				</div>
			</div>
		</div>


	</form>
  <div id="histogram_graph_container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>

	<!-- Loading icon -->
	<div class='ui dimmer' id="load">
	  <div class='ui indeterminate text loader'>Loading...Please wait</div>
	</div>
	</div>


	<script>
           $('#searchdd').dropdown();
           $('#menudd').dropdown();
           //$('#addHistogramGraph').on("click",function(){
	
	function checkSuccess(){
		check = document.getElementById("successfulQuery");
		if (check != null){
			generateGraph();
		}
		columnchange();
	}
		   
	function generateGraph(){
		   //Histogram Explained https://statistics.laerd.com/statistical-guides/understanding-histograms.php
             var updateData=$.get('/histogramdata');
             updateData.done(function(updateData){
             var chart = new Highcharts.Chart({
             chart: {
                      renderTo:'histogram_graph_container',
                      defaultSeriesType:'column',
                      borderWidth:0,
                      backgroundColor:'#eee',
                      borderWidth:1,
                      borderColor:'#ccc',
                      plotBackgroundColor:'#fff',
                      plotBorderWidth:1,
                      plotBorderColor:'#ccc'
                  },
                  credits:{enabled:true},
                  exporting:{enabled:true},
                  title:{text:updateData.title},
                  legend:{
                      //enabled:false
                  },
                  tooltip:{
                      borderWidth:1,
                      formatter:function() {
                          return '<b>Range:</b><br/> '+ this.x +'<br/>'+
                          '<b>Count:</b> '+ this.y;
                      }
                  },
                  plotOptions:{
                      column:{
                          shadow:false,
                          borderWidth:.5,
                          borderColor:'#666',
                          pointPadding:0,
                          groupPadding:0,
                          color: '#7cb5ec'
                      },
                      spline:{
                          shadow:false,
                          marker:{
                              radius:1
                          }
                      },
                      areaspline:{
                          color:'rgb(69, 114, 167)',
                          fillColor:'rgba(69, 114, 167,.25)',
                          shadow:false,
                          marker:{
                              radius:1
                          }
                      }
                  },
                  xAxis:{
                      //categories: ['> 48.00 =< 51.81','> 51.81 =< 54.63','> 54.63 =< 57.44','> 57.44 =< 60.25','> 60.25 =< 63.06','> 63.06 =< 65.88','> 65.88 =< 68.69','> 68.69 =< 71.50','> 71.50 =< 74.31','> 74.31 =< 77.13','> 77.13 =< 79.94','> 79.94 =< 82.75','> 82.75 =< 85.56','> 85.56 =< 88.38','> 88.38 =< 91.19','> 91.19 =< 94.00'],
                      // Categories should be "a to b" per interval
                      categories:updateData.intervals,
                      labels:{
                          rotation:-90,
                          y:40,
                          style: {
                              fontSize:'16px',
                              fontWeight:'bold',
                              color:'#333'
                          },
                      },
                      lineWidth:0,
                      lineColor:'#999',
                      tickLength:70,
                      tickColor:'#ccc',
                  },
                  yAxis:{
                      title:{text:''},
                      //maxPadding:0,
                      gridLineColor:'#e9e9e9',
                      tickWidth:1,
                      tickLength:3,
                      tickColor:'#ccc',
                      lineColor:'#ccc',
                      tickInterval:10,
                      //endOnTick:false,
                  },
                  series: [{
                      name:'Bins',
                      data: updateData.bins,
                      //data:updateData.frequencies
                  },{
                      name:'Curve',
                      type:'spline',
                      visible:false,
                      data: updateData.bins,
                      //data:updateData.frequencies
                      //color: 'rgba(204,204,255,.85)'
                  },{
                      name:'Filled Curve',
                      type:'areaspline',
                      visible:false,
                      data: updateData.bins,
                      //data:updateData.frequencies
                      //color: 'rgba(204,204,255,.85)'
                  }]
                });

              });

              }



		   function columnchange(){
					var title = document.getElementById('searchdd').value;
					var conv = {{ columns_dict|tojson }};
					var cols = JSON.parse(conv);
					var selection = document.getElementById("col1");
					var i;
					var iter;
					for (i = selection.length; i > 0; i--){
						selection.remove(i);
					}
					for (iter = 0; iter != cols[title].length ; iter++){ // repopulate options
						var option = document.createElement("option");
						option.value = cols[title][iter];
						option.text = cols[title][iter];
						selection.add(option);
					}
			}

			// loading icon stuff
			$.fn.extend({
				toggleClassDelay: function (className, delay, switchClass){
					this.toggleClass(className, switchClass);
					setTimeout($.proxy(function (){
						this.toggleClass(className, switchClass);
					}, this), delay);
				}
			});
			
			$('#queryHistButton').on('click', function(){
				if($("#myform")[0].checkValidity()==true){
					$('#load').toggleClassDelay('active', 300000);
				}
			});
	</script>

   </body>
</html>
