<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/Semantic-UI-CSS-master/semantic.css">
<link rel= "stylesheet" type= "text/css" href= "/static/styles/logout_icon.css">
<link rel= "stylesheet" type= "text/css" href= "/static/styles/kmeansUI.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/static/Semantic-UI-CSS-master/semantic.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

</head>
   <body onload="checkSuccess()">
    <div class="ui blue form segment">
	<span>
	  <div class="ui inline dropdown" id="menudd">
		<div>
			<i class="sidebar icon"></i><strong>MENU</strong>
		</div>
		<div class="menu">
		  <div class="item">
			<a href="{{ url_for('viewmain') }}"><div class="item">Count/Sum/Average</div></a>
		  </div>
		  <div class="item">
			<a href="{{ url_for('histogram_page') }}"><div class="item">Histogram</div></a> 
		  </div>
		  <div class="item">
			<a href="{{ url_for('kmeans_page') }}"><div class="item">Kmeans</div></a> 
		  </div>
		  <div class="item">
			<a href="{{ url_for('upload') }}"><div class="item">Upload a Dataset</div></a>
		  </div>
		  <div class="item">
			<a href="{{ url_for('viewhelp') }}"><div class="item">Help</div></a>
		  </div>
		</div>
	  </div>
	  <div id="logout_pos" class="ui primary button"><a href = "{{url_for('logout')}}" style="color:white">Log-out<i class="sign out icon"></i></a>
      </div>
	  <br> &nbsp
	</span>
    </div>


	<form action = "/makekmeans" method = "POST" enctype = "multipart/form-data" id="myform">
		<div class="ui stackable two column grid container" id="maincontainer">
			<div class="ui left aligned grid" id="gridpage1">
				<div class="left floated left aligned column">
					<div class="ui vertical menu" style="width: 100%;">
						<a class = "item" style="width: 100%;">
							<h4 class="ui header">Select File</h4>
							<select class="ui search dropdown" name="filename" style = "width:100%" id="searchdd" onChange="columnchange();">
								<option value=""> Select file</option>
								{% for dataset in datasets %}
									{% if dataset.title=="ASamplePoints" %}
										<option value = "{{dataset.title}}" selected>{{dataset.title}}</option>
									{% else %}
										<option value = "{{dataset.title}}">{{dataset.title}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</a>
					  <a class="item" style="width: 100%;">
						<h4 class="ui header">Sensitivity:</h4>
						<input type = "number" name = "sensitivity" min="0" value="11" style = "width:100%" required>
					  </a>
					  <a class="item" style="width: 100%;">
						<h4 class="ui header"># of steps:</h4>
						<input type = "number" name = "numberofsteps" min="0" value="13" style = "width:100%"  required>
					  </a>
					</div>
				</div>
			</div>
			<div class="ui grid page" id="gridpage2">
				<div class="center aligned column">
					{% if status=='error' %}
					<div class="alert">
						<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
					<strong>Error!</strong> Unsuccessful query due to timeouts.<br>Please try again!<br><br> Fuzz does its queries by treating each row in the database as a smaller query.<br> The processor forces each query to finish at the same time. <br> However, whenever a query fails to finish in time, this error occurs. <br> We recommend trying the query again.<br>
					</div><br> &nbsp
					{% elif status=='numError' %}
					<div class="alert">
						<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
						<strong>Error!</strong> Query only accepts numerical columns<br>Histogram must be made with a numerical column <br>
					</div><br> &nbsp
					{% endif %}
					{% if status=='success'%}
					<div class="success" id = "successfulQuery">
						<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
						<strong>Success!</strong> Successful query
					</div><br>
					{% endif %}
					<div class="ui form">
					  <div class="two fields">
						<div class="field">
							<strong><label>Choose Column X</label></strong>
							<select name="columnx" id="colx" style="margin-bottom: 10px;" required>
								<option value="" disabled selected> Select Column </option>
							</select>
						</div>
						<div class="field">
							<strong><label>Choose Column Y</label></strong>
							<select name="columny" id="coly" style="margin-bottom: 10px;" required>
								<option value="" disabled selected> Select Column </option>
							</select>
						</div>
					  </div>
					</div><br> &nbsp

					<div>
						<div class="ui left floated image">
							<h4 class="ui dividing header">POINTS</h4>
						</div><br> &nbsp
						<div class="ui right floated image">
							<button data-tooltip="Click to add a new row" type="button" id="addRow" class="ui icon button"><i class ="add square icon"></i></button>
							<button data-tooltip="Click to remove the last row" type="button" id="removeRow" class="ui icon button"><i class="minus square icon"></i></button>
						</div><br>&nbsp
					</div><br> &nbsp
					<div class="ui form">
					  <div class="two fields">
						<div class="field" id="x_container">
						  <strong><label>X coordinate</label></strong>
						  <input type = "number" name = "x1" id= "x1" style="margin-bottom: 10px;" required>
						  <input type = "number" name = "x2" id= "x2" style="margin-bottom: 10px;" required>
						</div>
						<div class="field" id="y_container">
						  <strong><label>Y coordinate</label></strong>
						  <input type = "number" name = "y1" id= "y1" style="margin-bottom: 10px;" required>
						  <input type = "number" name = "y2" id= "y2" style="margin-bottom: 10px;" required>
						</div>
					  </div>
					</div>
					<br>
					<button type="submit" class="ui primary button" value="Kmeans" name="submit_query" id="querykButton">Query Kmeans</button>
					<!--	<button type="button" id="addKMeansGraph" class="ui primary button" name="kmeans">Generate Graph</button><br> &nbsp-->
					<br> &nbsp
					<input type="hidden" id="rowCounter" name="rowCounter" value=2>
				</div>
			</div>
		</div>

	<!-- Loading icon -->
	<div class='ui dimmer' id="load">
	  <div class='ui indeterminate text loader'>Loading...Please wait</div>
	</div>
    <div id="kmeans_graph_container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
	</form>

	<script>
           $('#searchdd').dropdown();
           $('#menudd').dropdown();
		   
		   function checkSuccess(){
				check = document.getElementById("successfulQuery");
				if (check != null){
					generateGraph();
				}
				columnchange();
		   }
           //$('#addKMeansGraph').on("click",function(){
		function generateGraph(){
			 
			 var updateData=$.get('/kmeansdata');
             updateData.done(function(updateData){
             var myChart= Highcharts.chart('kmeans_graph_container',{
                   chart: {
                       type: 'scatter',
                       zoomType: 'xy'
                   },
                   title: {
                       text: updateData.title //Title from 2 column queries
                   },
                   xAxis: {
                       title: {
                           enabled: true,
                           text: 'X'
                       },
                       startOnTick: true,
                       endOnTick: true,
                       showLastLabel: true
                   },
                   yAxis: {
                       title: {
                           text: 'Y'
                       }
                   },
                   legend: {
                       layout: 'vertical',
                       align: 'left',
                       verticalAlign: 'top',
                       x: 100,
                       y: 70,
                       floating: true,
                       backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
                       borderWidth: 1
                   },
                   plotOptions: {
                       scatter: {
                           marker: {
                               radius: 5,
                               states: {
                                   hover: {
                                       enabled: true,
                                       lineColor: 'rgb(100,100,100)'
                                   }
                               }
                           },
                           states: {
                               hover: {
                                   marker: {
                                       enabled: false
                                   }
                               }
                           },
                           tooltip: {
                               headerFormat: '<b>{series.name}</b><br>',
                               pointFormat: 'x={point.x},y={point.y}'
                           }
                       }
                   },
                 series: [{
                     name: 'Points',
                     color: 'rgba(119, 152, 191, .5)',
                     data: updateData.points       // list of lists , [[x,y]] from user input that is saved into the queries db
                     },
                     {
                     name: 'Centers',
                     color: 'rgba(223, 83, 83, .5)',
                     data: updateData.centers    // list of lists , [[x,y]] . List of centers from Fuzz Output
                     }
                         ]
               });
           });
        }

		   function columnchange(){
					var title = document.getElementById('searchdd').value;
					var conv = {{ columns_dict|tojson }};
					var cols = JSON.parse(conv);
					var selectionx = document.getElementById("colx");
					var selectiony = document.getElementById("coly");
					var i;
					var iter;
					for (i = selectionx.length; i > 0; i--){
						selectionx.remove(i);
					}
					for (i = selectiony.length; i > 0; i--){
						selectiony.remove(i);
					}
					for (iter = 0; iter != cols[title].length ; iter++){ // repopulate options
						var option = document.createElement("option");
						option.value = cols[title][iter];
						option.text = cols[title][iter];
						selectionx.add(option);
					}
					for (iter = 0; iter != cols[title].length ; iter++){ // repopulate options
						var option = document.createElement("option");
						option.value = cols[title][iter];
						option.text = cols[title][iter];
						selectiony.add(option);
					}
			}


		   var $xContainer=$("#x_container");
		   var $yContainer=$("#y_container");
		   var row_counter=2;

			// clicking add (+) button to add a new row
			$('#addRow').on("click",function(){
				if (document.getElementById("searchdd").value == ""){
					alert("Please select a file first!");
				}
				else{
					row_counter++;
					document.getElementById("rowCounter").value = row_counter;
					$xContainer.append('<input type = "number" name = "x'+(row_counter)+'" id="x'+(row_counter)+'" style="margin-bottom: 10px;" required>')
					$yContainer.append('<input type = "number" name = "y'+(row_counter)+'" id="y'+(row_counter)+'" style="margin-bottom: 10px;" required>')
				}
			});

			// clicking minus (-) button to delete last row
			$("#removeRow").on("click",function(){
				if (row_counter>2){
					document.getElementById("x"+row_counter).remove();
					document.getElementById("y"+row_counter).remove();
					row_counter--;
					document.getElementById("rowCounter").value = row_counter;
				}
			});

			// loading icon stuff
			$.fn.extend({
				toggleClassDelay: function (className, delay, switchClass){
					this.toggleClass(className, switchClass);
					setTimeout($.proxy(function (){
						this.toggleClass(className, switchClass);
					}, this), delay);
				}
			});
			
			$('#querykButton').on('click', function(){
				if($("#myform")[0].checkValidity()==true){
					$('#load').toggleClassDelay('active', 300000);
				}
			});
	</script>

   </body>
</html>
