<head>
<link rel="stylesheet" type="text/css" href="/static/Semantic-UI-CSS-master/semantic.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/static/Semantic-UI-CSS-master/semantic.js"></script>
<style>
body > .grid {
  height: 100%;
}
body {
	background: #d9d9d9;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
}
h2.ui.header {
    font-size: 1.71428571rem;
    color: #2980b9 !important;
}

/* Alert: Error Message */

.alert {
	padding: 20px;
	background-color: #f44336;
	color: white;
}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}
</style>


<script>
 $(document).ready(function() {
      $('.ui.form').form({
		  inline: true,
          fields: {
            username: {
              identifier  : 'username',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your username'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[4]',
                  prompt : 'Your password must be at least 4 characters'
                }
              ]
            }
          }
        });
    });
</script>
</head>
<body>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
	  <img src="static/images/dp.png" class="image">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form action="/login" method="POST" class="ui large form">
      <div class="ui stacked secondary  segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="Username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <div>
			<button type="submit" class="ui blue submit button" value = 'login' name = 'login'>Login</button>
			<button type="submit" class="ui blue submit button" value = 'signup' name = 'login'>Sign up</button>
		</div>
      </div>
	  
	{% if error=='error' %}
		<div class="alert">
			<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
			<strong>Login Error!</strong> Invalid username or<br>password. Please try again!
		</div><br> &nbsp
	{% elif error=='exists' %}
		<div class="alert">
			<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
			<strong>Signup Error!</strong> Username already taken<br>
		</div><br> &nbsp
	{% endif %}	
    </form>
	</div>
</div>
</body>
</html>

