<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/Semantic-UI-CSS-master/semantic.css">
<link rel= "stylesheet" type= "text/css" href= "/static/styles/logout_icon.css">
<link rel= "stylesheet" type= "text/css" href= "/static/styles/mainUI.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/static/Semantic-UI-CSS-master/semantic.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
</head>

   <body onload="allcolumns()">
    <div class="ui blue form segment">
	<span>
	  <div class="ui inline dropdown" id="menudd">
		<div>
			<i class="sidebar icon"></i><strong>MENU</strong>
		</div>
		<div class="menu">
		  <div class="item">
			<a href="{{ url_for('viewmain') }}"><div class="item">Count/Sum/Average</div></a>
		  </div>
		  <div class="item">
			<a href="{{ url_for('histogram_page') }}"><div class="item">Histogram</div></a> 
		  </div>
		  <div class="item">
			<a href="{{ url_for('kmeans_page') }}"><div class="item">Kmeans</div></a> 
		  </div>
		  <div class="item">
			<a href="{{ url_for('upload') }}"><div class="item">Upload a Dataset</div></a>
		  </div>
		   <div class="item">
			<a href="{{ url_for('viewhelp') }}"><div class="item">Help</div></a>
		  </div>
		</div>
	  </div>
	  <div id="logout_pos" class="ui primary button"><a href = "{{url_for('logout')}}" style="color:white">Log-out<i class="sign out icon"></i></a>
      </div>
	  <br> &nbsp
	</span>
    </div>

	<form action = "/query" method = "POST" enctype = "multipart/form-data" id="myform">
		<div class="ui stackable two column grid container" id="maincontainer">
			<div class="ui left aligned grid" id="gridpage1">
				<div class="left floated left aligned column">
					<div class="ui vertical menu" style="width: 100%;">
						<a class = "item" style="width: 100%;">
							<h4 class="ui header" data-tooltip="Select database to use">Select File</h4>
							<select class="ui search dropdown" name="filename" style = "width:100%" id="searchdd" onChange="allcolumns();">
								<option value=""> Please select a file first</option>
								{% for dataset in datasets %}
									{% if dataset.title == "ASampleDataset"%}
										<option value = "{{dataset.title}}" selected>{{dataset.title}}</option>
									{% else %}
										<option value = "{{dataset.title}}">{{dataset.title}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</a>
					  <a class="item" style="width: 100%;">
						<h4 class="ui header" data-tooltip="How much query would change if 1 row is absent">Sensitivity:</h4>
						<input type = "number" name = "sensitivity" min="0" value = "1" required>
					  </a>
					  <a class="item" style="width: 100%;">
						<h4 class="ui header" data-tooltip="Accuracy of query. Recommended value is 40-50"># of steps:</h4>
						<input type = "number" name = "numberofsteps" min="0" value = "45" required>
					  </a>
					  <a class="item" style="width: 100%;">
						<h4 class="ui dividing header" data-tooltip="Possible choices and datatype for the dataset">Column Name : Choices</h4>
						<textarea name="description" rows="5" id ="desc" style="resize:none;" disabled></textarea>
					  </a>
					</div>
				</div>
			</div>
			
			<div class="ui grid page" id="gridpage2">
				
				<div class="centered column" id="gridpage2_child">

					{% if status=='error' %}
					<div class="alert">
						<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
						<strong>Error!</strong> Unsuccessful query due to timeouts.<br>Please try again!<br><br> Fuzz does its queries by treating each row in the database as a smaller query.<br> The processor forces each query to finish at the same time. <br> However, whenever a query fails to finish in time, this error occurs. <br> We recommend trying the query again.<br>
					</div><br> &nbsp
					{% elif status=='numError' %}
					<div class="alert">
						<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
						<strong>Error!</strong> Query only accepts numerical columns!<br> Average/Sum queries only accept numerical columns <br>
					</div><br> &nbsp
					{% elif status=='opError' %}
					<div class="alert">
						<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
						<strong>Error!</strong> String column must have "==" operator<br>
					</div><br> &nbsp
					{% elif status=='choiceError' %}
					<div class="alert">
						<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
						<strong>Error!</strong> Arguments not in choice!<br>Please look at the description on the left side of the screen for the possible choices for each argument<br>
					</div><br> &nbsp
					{% elif status=='typeError' %}
					<div class="alert">
						<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
						<strong>Error!</strong> Incorrect argument type<br>Numerical columns only accept WHOLE numbers<br>
					</div><br> &nbsp
					{% elif status=='none'%}
					{% else %}
					<div class="success">
						<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
						<strong>Success!</strong> Successful query!<br>The query returned {{status}}. <br><br> If your query was count, then there is around {{status}} rows that satisfied your query. <br> If it was average or sum, then the answer is around {{status}}. <br>
					</div><br> &nbsp
					{% endif %}

					<div class="ui right floated image">
						<button data-tooltip="Click to add a new row" id="addRow" class="ui icon button" type="button"><i class ="add square icon"></i></button>
						<button data-tooltip="Click to remove the last row" id="removeRow" class="ui icon button" type="button"><i class="minus square icon"></i></button>
					</div><br>&nbsp

					<div class="ui form">
					  <div class="three fields">
						<div class="seven wide field" id="column_container">
						  <label data-tooltip="Select the column you want to query on. +/- adds/deletes another column">Column</label>
						  <select name="column1" id="col1" style="margin-bottom: 10px; width:100%;" required>
							<option value="" disabled selected> Select Column </option>
						  </select>
						  <div id="whereLabel" style="display:none"><strong><label>Where:</label></strong></div>
						</div>
						<div class="four wide field" id="operation_container">
						  <label data-tooltip="Select the comparison you want to do.">Operation</label>
						  <select name="operation1" id="op1" class="ui search dropdown" style="margin-bottom: 10px; width:100%;">
							<option value="==" selected> == </option>
							<option value="!="> != </option>
							<option value=">"> > </option>
							<option value="<"> < </option>
							<option value=">="> >= </option>
							<option value="<="> <= </option>
						  </select>
						  <br>
						</div>
						<div class="six wide field" id="argument_container">
						  <label data-tooltip="Add the condition you want the query to satisfy">Argument</label>
						  <input type = "text" name = "argument1" id= "arg1" style="margin-bottom: 10px; width:100%;" placeholder="Input argument" required>
						  <br> &nbsp
						</div>
					  </div>


						<button type="submit" class="ui primary button" name="submit_query" value="Count" id="countB">Count</button>
						<button type="submit" class="ui primary button" name="submit_query" value="Sum" id="sumB">Sum</button>
						<button type="submit" class="ui primary button" name="submit_query" value="Ave" id="aveB">Average</button>
						<br><input type="hidden" id="rowCounter" name="rowCounter" value=1>
					</div>
				</div>
			</div>
		</div>

		<br><br>
		<button type ="button" id="addCountGraph" class="ui icon button" style="margin-left:50px;">Graph Count</button>
		<button type ="button" id="addSumGraph" class="ui icon button">Graph Sum</button>
		<button type ="button" id="addAveGraph" class="ui icon button">Graph Average</button>
		<!--<button type ="button" id="addKMeansGraph" class="ui icon button">Graph Kmeans</button>-->
		<!--<button type ="button" id="addHistogramGraph" class="ui icon button">Graph Histogram</button>-->
		<div id="graph_container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>

	<!-- Loading icon -->
	<div class='ui dimmer' id="load">
	  <div class='ui indeterminate text loader'>Loading...Please wait</div>
	</div>
	</form>

		  {{ title }}
		  {%if query_graphs:%}
			<div>{{query_graphs.render()|safe }}</div>
		  {% endif %}

			<script>
			   var $columnContainer=$("#column_container");
			   var $operationContainer=$("#operation_container");
			   var $argumentContainer=$("#argument_container");
			   var row_counter=1;


         // how to differentiate addGraph for Average Sum and Count
         $('#addCountGraph').on("click",function(){
                  var updateData=$.get('/countdata');
                  //alert(updateData);
                  //console.log(updateData);
                  updateData.done(function(updateData){
                  var myChart = Highcharts.chart('graph_container', {
                        chart: {
                            type:'column'
                        },
                        title: {
                            text: 'Count Queries' // hard coded for now, but should be query type (i.e Sum, Average or Count)
                        },
                        xAxis:{
                          //categories:['age=20', 'sex=M', 'age>20', 'sex=M', 'age<1']  //should be list of queries (i.e Count Age == 20)
                          categories:updateData.XAxisTitles
                           }
                        ,
                        series: [{
                            name: 'Count',
                            data: updateData.results
                        }]
                    });
                  });
          });

          $('#addAveGraph').on("click",function(){
                   var updateData=$.get('/avedata');
                   //alert(updateData);
                   //console.log(updateData);

                   updateData.done(function(updateData){
                   var myChart = Highcharts.chart('graph_container', {
                         chart: {
                             type:'column'
                         },
                         title: {
                             text: 'Average Queries' // hard coded for now, but should be query type (i.e Sum, Average or Count)
                         },
                         xAxis:{
                           //categories:['age=20', 'sex=M', 'age>20', 'sex=M', 'age<1']  //should be list of queries (i.e Count Age == 20)
                           categories:updateData.XAxisTitles
                            }
                         ,
                         series: [{
                             name: 'Ave',
                             data: updateData.results
                         }]
                     });
                   });
           });
           $('#addSumGraph').on("click",function(){
                    var updateData=$.get('/sumdata');
                    //alert(updateData);
                    //console.log(updateData);
                    updateData.done(function(updateData){
                    var myChart = Highcharts.chart('graph_container', {
                          chart: {
                              type:'column'
                          },
                          title: {
                              text: 'Sum Queries' // hard coded for now, but should be query type (i.e Sum, Average or Count)
                          },
                          xAxis:{
                            //categories:['age=20', 'sex=M', 'age>20', 'sex=M', 'age<1']  //should be list of queries (i.e Count Age == 20)
                            categories:updateData.XAxisTitles
                             }
                          ,
                          series: [{
                              name: 'Sum',
                              data: updateData.results
                          }]
                      });
                    });
            });

         			$('#menudd').dropdown();
				$('#searchdd').dropdown();
				$('#histocol').dropdown();

				// clicking add (+) button to add a new row
				$('#addRow').on("click",function(){
					if (document.getElementById("searchdd").value == ""){
						alert("Please select a file first!");
					}
					else{
						row_counter++;
						document.getElementById("rowCounter").value = row_counter;
						// show 'where' label if row > 1
						var x = document.getElementById('whereLabel');
						if (x.style.display === 'none') {
							x.style.display = 'block';
						}
						$columnContainer.append('<select name="column'+(row_counter)+'"id="col'+(row_counter)+'" style="margin-bottom: 10px;" required><option value="" disabled selected> Select Column </option></select>')

						$operationContainer.append('<select name="operation'+(row_counter)+'" id="op'+(row_counter)+'" class="ui search dropdown" style="margin-bottom: 10px;"><option value="==" selected> == </option><option value="!="> != </option><option value=">"> > </option><option value="<"> < </option><option value=">="> >= </option><option value="<="> <= </option></select>')
						$argumentContainer.append('<input type = "text" name = "argument'+(row_counter)+'" id="arg'+(row_counter)+'" placeholder="Input argument" style="margin-bottom: 10px;" required>')
						onecolumn();
					}
				});



				// clicking minus (-) button to delete last row
				$("#removeRow").on("click",function(){
					if (row_counter>1){
						document.getElementById("col"+row_counter).remove();
						document.getElementById("op"+row_counter).remove();
						document.getElementById("arg"+row_counter).remove();
						row_counter--;
						document.getElementById("rowCounter").value = row_counter;
					}
					var x = document.getElementById('whereLabel');
					// hide 'where' label if row == 1
					if (row_counter == 1) {
						x.style.display = 'none';
					}
				});

				 // iterates through ALL existing cols
				function allcolumns(){
					var title = document.getElementById('searchdd').value;

					// convert from python dict to javascript object
					var conv = {{ columns_dict|tojson }};
					var cols = JSON.parse(conv);
					
					var fconv = {{ data_dict|tojson }};
					var desc = JSON.parse(fconv);
					
					var iter;
					var iter2;

					// outer loop means that all ctr cols are passed through, regardless if need to change or not
					// first inner loop clears selection box, second inner loop adds to selection box
					for (iter2 = 1; iter2 <= row_counter; iter2++ ){
						var selection = document.getElementById("col"+iter2);
						var i;
						// clear the options of selection box
						for (i = selection.length; i > 0; i--){
							selection.remove(i);
						}
						for (iter = 0; iter != cols[title].length ; iter++){ // repopulate options
							var option = document.createElement("option");
							option.value = cols[title][iter];
							option.text = cols[title][iter];
							selection.add(option);
						}
					}
					
					// Update description
					document.getElementById("desc").value = desc[title]; 
				}


				function onecolumn(){
					var title = document.getElementById('searchdd').value;
					var conv = {{ columns_dict|tojson }};
					var cols = JSON.parse(conv);

					var iter;
					var selection = document.getElementById("col"+row_counter);
					var i;
					for (iter = 0; iter != cols[title].length ; iter++){ // repopulate options
						var option = document.createElement("option");
						option.value = cols[title][iter];
						option.text = cols[title][iter];
						selection.add(option);
					}
				}
				
				// loading icon stuff
				$.fn.extend({
					toggleClassDelay: function (className, delay, switchClass){
						this.toggleClass(className, switchClass);
						setTimeout($.proxy(function (){
							this.toggleClass(className, switchClass);
						}, this), delay);
					}
				});
				
				$('#countB').on('click', function(){
					if($("#myform")[0].checkValidity()==true){
						$('#load').toggleClassDelay('active', 300000);
					}
				});
				$('#sumB').on('click', function(){
					if($("#myform")[0].checkValidity()==true){
						$('#load').toggleClassDelay('active', 300000);
					}
				});
				$('#aveB').on('click', function(){
					if($("#myform")[0].checkValidity()==true){
						$('#load').toggleClassDelay('active', 300000);
					}
				});
			</script>
			</div>
	</form>
	</div>

   </body>
</html>
