<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/Semantic-UI-CSS-master/semantic.css">
<link rel= "stylesheet" type= "text/css" href= "/static/styles/logout_icon.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/static/Semantic-UI-CSS-master/semantic.js"></script>
<style>
#edit_button{
	float:right;
}

.success {
	padding: 20px;
	background-color: #00cc66;
	color: white;
}

.closebtn{
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}			
</style>
<script>

$(document).ready(function() {
	$('.ui.form').form({
	   inline: true,
	   fields: {
		col1: {
		  identifier  : 'col1',
		  rules: [
			{
			  type   : 'empty',
			  prompt : 'Please enter your column name'
			}
		  ]
		},
		 uploadfname: {
		   identifier  : 'uploadfname',
		   rules: [
			 {
			   type   : 'empty',
			   prompt : 'Please enter a filename'
			 }
		   ]
		 },
		 uploadfdescription: {
		   identifier  : 'uploadfdescription',
		   rules: [
			 {
			   type   : 'empty',
			   prompt : 'Please enter a description'
			 }
		   ]
		 }
	   }
	 });
});
</script>
</head>
<body>
    <div class="ui blue form segment">
	<span>
	  <div class="ui inline dropdown" id="menudd">
		<div>
			<i class="sidebar icon"></i><strong>MENU</strong>
		</div>
		<div class="menu">
		  <div class="item">
			<a href="{{ url_for('viewmain') }}"><div class="item">Count/Sum/Average</div></a>
		  </div>
		  <div class="item">
			<a href="{{ url_for('histogram_page') }}"><div class="item">Histogram</div></a> 
		  </div>
		  <div class="item">
			<a href="{{ url_for('kmeans_page') }}"><div class="item">Kmeans</div></a> 
		  </div>
		  <div class="item">
			<a href="{{ url_for('upload') }}"><div class="item">Upload a Dataset</div></a>
		  </div>
		  <div class="item">
			<a href="{{ url_for('viewhelp') }}"><div class="item">Help</div></a>
		  </div>
		</div>
	  </div>
	  <div id="logout_pos" class="ui primary button"><a href = "{{url_for('logout')}}" style="color:white">Log-out<i class="sign out icon"></i></a>
      </div>
	  <br> &nbsp
	</span>
    </div>

	<div class ="ui container">
      <form id="uploadDB" class="ui form" method = "POST" enctype = "multipart/form-data" action = "/upload_file">
         <div class="field">
			{% if status == 'success' %}
			<div class="success">
						<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
						<strong>Success!</strong> Successfuly uploaded dataset<br>
					</div><br> &nbsp
			{% endif %}
           <h4 class="ui dividing header">File Upload</h4>
           <div class = "two fields">
             <div class = "field">
               <label data-tooltip="Choose the .csv file you want to upload">Choose File</label> <input class="ui input focus" type = "file" name = "file" required=""></input>
             </div>
             <div class = "field">
               <label data-tooltip="Choose a name for the dataset">Save as:</label><input type = "text" id="filename" name = "uploadfname" title="Alphanumeric only" placeholder="Input filename excluding the filename extension" pattern="[a-zA-Z0-9]+" required></input>
             </div>
           </div>
         </div>

         <div class="field">
           <h4 class="ui dividing header" data-tooltip="Input the column names, type, and if applicable, possible choices for each column. Use the placeholder as reference for the format">Dataset Column Description</h4>
           <textarea name="uploadfdescription" required></textarea>
         </div>
	<h4 class="ui dividing header" data-tooltip="Input the same column names, type, and if applicable, possible choices for each column as above. The + and - buttons adds new fields if you need more.">Configuration for Dataset</h4>
         <div class="field">
            <div class="ui form">
				<div class="ui right floated image">
					<button data-tooltip="Click to add a new column" id="addColumnButton" class="ui icon button" type="button"><i class ="add square icon"></i></button>
				   <button data-tooltip="Click to remove the last column" id="delColumnButton" class="ui icon button" type="button"><i class="minus square icon"></i></button>
			    </div><br>&nbsp
				<div class="three fields">
					<div class = "four wide field" id="column_container">
					   <div data-tooltip="Column name"><strong><label> Column </label></strong></div>
					   <input id="col1" name="col1" class="input" placeholder="Column Name" type="text" style="margin-bottom: 10px;" required></input>
					</div>
					<div class = "three wide field" id="type_container">
						<div data-tooltip="Column Type"><strong><label> Type </label></strong></div>
						<select name="col-type1" id="col-type1" class="ui search dropdown" style="margin-bottom: 10px;" required>
							<option value="num">Number</option>
							<option value="string">String</option>
						</select>
					</div>
					<div class = "ten wide field" id="option_container">
						<div data-tooltip="Place the possible values for the corresponding column separated by comma"><strong><label> Possible Values </label></strong></div>
						<input id="options1" name="options1" class="input" placeholder="Input options if necessary (e.g. male,female)" type="text" style="margin-bottom: 10px;"></input>
					</div>
               </div>
              </div>
          <br>
          <br>
          <br>
          <button id="uploadDbButton" class="ui primary button" type="button">Upload</button>
          <input type="hidden" id="rowCounter" name="rowCounter" value=1>
	 </div>
	</div>
		  <script>
				var $columnContainer=$("#column_container");
				var $typeContainer=$("#type_container");
				var $optionContainer=$("#option_container");
				 var row_counter=1;
				 var unique=0;
				var placeholder='Age: number\nSex: M,F\nShirtColor:B,W\nHasPhone:Y,N\nIncome:number\nZipcode:number';

				 $('#uploadDbButton').on("click",function(){
					currentFilename=document.getElementById("filename").value;
					//alert(currentFilename);
					dataset_dict = {};
					var conv = {{ filenames|tojson }};
							var fnames = JSON.parse(conv);
					//alert(fnames["filenames"]);
					//  alert(fnames["filenames"].length);
					for (iter = 0; iter != fnames["filenames"].length ; iter++)
					{
					  //alert(fnames["filenames"][iter]);
					  if(currentFilename==fnames["filenames"][iter]) //means already existing
						{
						  unique=1;
						}
					}
					//alert(unique);
					if(unique==1){
						alert("Filename has been taken. Please enter another.");
					}
					if(unique==0){
					  document.getElementById("uploadDB").submit();
					}
					unique=0

				 });
				 $('#menudd').dropdown();

				 // add column icon
				 $('#addColumnButton').on("click",function(){
					 row_counter++;
					 document.getElementById("rowCounter").value = row_counter;

					 $columnContainer.append('<input id="col'+(row_counter)+'" name="col'+(row_counter)+'" class="input" placeholder="Column Name" type="text" style="margin-bottom: 10px;" required></input>')

					 $typeContainer.append('<select name="col-type'+(row_counter)+'" id="col-type'+(row_counter)+'" class="ui search dropdown" style="margin-bottom: 10px;" required><option value="num">Number</option><option value="string">String</option></select>')

					 $optionContainer.append('<input id="options'+(row_counter)+'" name="options'+(row_counter)+'" class="input" placeholder="Input options if necessary (e.g. male,female)" style="margin-bottom: 10px;" type="text"></input>')
				   });

				// remove column icon
				$("#delColumnButton").on("click",function(){
					if (row_counter>1){
						document.getElementById("col"+row_counter).remove();
						document.getElementById("col-type"+row_counter).remove();
						document.getElementById("options"+row_counter).remove();
						row_counter--;
						document.getElementById("rowCounter").value = row_counter;
					}
				});

				// column description textarea placeholder
				$('textarea').val(placeholder);
				//$('textarea').focus(function(){
			//		if($(this).val() === placeholder){
			//			$(this).val('');
			//		}
			//	});
			//	$('textarea').blur(function(){
			//		if($(this).val() === ''){
			//			$(this).val(placeholder);	
			//		}
			//	});

		  </script>
		</form>
	</div>
</body>
</html>
